<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/nn/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nn/penguin.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nn/obstacle.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nn/board.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nn/defeat.js') }}"></script>
</head>

<body>
</body>

</html>